*{
    margin: 0;
}
p{
    font-size: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    background-color: rgb(59, 41, 44);
}
.grid-item{
    background-color: rgb(49, 16, 194);
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: royalblue;
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item-container{
    display: flex;
    column-gap: 20px;
}

body {
    background-color: rgb(58, 175, 230);
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

img {
    border: 3px solid #f1f1e1;
    }
    
.grid-container {
    display: grid;
    }

.profile{
    width: 300px;
    height: 300px;
    background-image: url(https://styles.redditmedia.com/t5_78lhiu/styles/communityIcon_z2uhq0v0z7v91.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.notify{
    width: 40px;
    height: 40px;
    background-color: #0045E4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

